body{
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
    color: #69696a;
    height: 100%;
}
.bold{
    font-weight: bold;
    color: #000;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
button{
    background-color: #000;
    color: #FFF;
    height: 50px;
    width: 99vh; 
    border-radius: 50px;
}
h1{
    padding-left: 5px;
}
a{
    text-decoration: none;
    color: #69696a;
    padding-left: 5px;
}
.border{
    border-left: #000;
    width: 99vh;
    padding-left: 5px;
}
p{
    padding-right: 5px;
    border-left: #000;
}
footer{
    position:absolute;
    bottom:0; 
}
.container{
    min-height: 100%;
    position: relative;
    bottom: 0;
    height: 40px;
    width: 100vh;
    background-color: rgba(247, 193, 162, 0.7);
    padding-right: 5px;
}
.name{
    color: #000;
    float: left;
    padding-left: 5px;
}
ul.links li{
    list-style: none;
    text-decoration: none;
    color: #69696a;
    width: auto;
    float: right;
    padding-top: 15px;
    padding-right: 15px;
}